/* CSS Animation Keyframes */
@keyframes moveEdge {
    0% {
        top: 0;
        left: 0;
        transform: translate(0) translateY(0);
    }

    25% {
        top: 100%;
        left: 0;
        transform: translateX(0) translateY(-100%);
    }

    50% {
        top: 100%;
        left: 100%;
        transform: translateX(-100%) translateY(-100%);
    }

    75% {
        top: 0;
        left: 100%;
        transform: translateX(-100%) translateY(0);
    }

    100% {
        top: 0;
        left: 0;
        transform: translateX(0) translateY(0);
    }
}

/* Rotate and scale snimation */
@keyframes rotateScale {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(2) rotate(120deg);
    }

    50% {
        transform: scale(.5) rotate(240deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}


/* Random color animation */
@keyframes randomColor {
    15% {

        background-color: red;
    }

    30% {
        background-color: yellow;
    }

    45% {
        background-color: green;
    }

    60% {
        background-color: blue;
    }

    75% {
        background-color: white;
    }

    100% {
        background-color: red;
    }

}

@keyframes allAnimations {
    0% {
        background-color: red;
        transform: scale(1) rotate(0deg);
        top: 0;
        left: 0;
        transform: translate(0) translateY(0);
    }

    25% {
        background-color: yellow;
        transform: scale(2) rotate(120deg);
        top: 100%;
        left: 0;
        transform: translateX(0) translateY(-100%);
    }

    50% {
        background-color: green;
        transform: scale(.5) rotate(240deg);
        top: 100%;
        left: 100%;
        transform: translateX(-100%) translateY(-100%);
    }

    75% {
        top: 0;
        left: 100%;
        transform: translateX(-100%) translateY(0);
    }

    100% {
        background-color: white;
        transform: scale(1) rotate(360deg);
        top: 0;
        left: 0;
        transform: translateX(0) translateY(0);
    }
}



/* CSS Styles */
.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    
}

#box1 {
    
    margin-left: 500px;
    margin-top: 500px;
    background-color: red;
}

#box2 {
    background-color: blue;
    margin-top: 500px;
}

#box3 {
    background-color: green;
    margin-top: 500px;
}